[Unit]
Description=Aria2c download manager
After=network.target

[Service]
Type=simple
User=aria2
Group=aria2
ExecStart=/usr/local/bin/aria2c --conf-path=/etc/aria2/aria2.conf
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
