[Unit]
Description=Aria2c download manager
After=network.target

[Service]
Type=simple
User=aria2
Group=aria2
ExecStart=/path/aria2c --conf-path=/path/aria2.conf
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
